<div class="modal-container">
  <div class="md-modal md-effect-18" id="modal-{{ .UniqueID }}">
    <div class="md-content">
      <h3>{{ .Title }}</h3>
      <div class="md-portfolio-content">
        <div class="md-description">
          <h4>{{ .Description }}</h4>
          <p>{{ .Content }}</p>
          <div class="md-list-container">
            <div class="md-columns md-right">
              <ul>
                <li>
                  <!--<div class="img-md-list">
                    <img src="{{ .Params.webImg }}" alt="{{ .Params.TitleWebImg }}">
                  </div>-->
                  <div class="text-md-list">
                    <h4>{{ .Params.TitleWebImg }}</h4>
                    <p>{{ .Params.DescWebImg }}</p>
                  </div>
                </li>
                <li>
                  <!--<div class="img-md-list">
                    <img src="{{ .Params.AppImg }}" alt="{{ .Params.TitleAppImg }}">
                  </div>-->
                  <div class="text-md-list">
                    <h4>{{ .Params.TitleAppImg }}</h4>
                    <p>{{ .Params.DescAppImg }}</p>
                  </div>
                </li>
                <li>
                  <!--<div class="img-md-list">
                    <img src="{{ .Params.EcommerceImg }}" alt="{{ .Params.TitleEcommerceImg }}">
                  </div>-->
                  <div class="text-md-list">
                    <h4>{{ .Params.TitleEcommerceImg }}</h4>
                    <p>{{ .Params.DescEcommerceImg }}</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="md-columns md-left">
              <ul>
                <li>
                  <!--<div class="img-md-list">
                    <img src="{{ .Params.IdeasImg }}" alt="{{ .Params.TitleIdeasImg }}">
                  </div>-->
                  <div class="text-md-list">
                    <h4>{{ .Params.TitleIdeasImg }}</h4>
                    <p>{{ .Params.DescIdeasImg }}</p>
                  </div>
                </li>
                <li>
                  <!--<div class="img-md-list">
                    <img src="{{ .Params.webDesignImg }}" alt="{{ .Params.TitleWebDesignImg }}">
                  </div>-->
                  <div class="text-md-list">
                    <h4>{{ .Params.TitleWebDesignImg }}</h4>
                    <p>{{ .Params.DescWebDesignImg }}</p>
                  </div>
                </li>
                <li>
                  <!--<div class="img-md-list">
                    <img src="{{ .Params.MarketingImg }}" alt="{{ .Params.TitleMarketingImg }}">
                  </div>-->
                  <div class="text-md-list">
                    <h4>{{ .Params.TitleMarketingImg }}</h4>
                    <p>{{ .Params.DescMarketingImg }}</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <a class="md-close">
        <!--<i class="fa fa-close"></i>-->
      </a>
    </div>
  </div>
</div>
