<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendors/jquery-2.2.4.min.js"><\/script>')</script>
<!-- Slick Carousel -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- functions -->
<script src="/js/functions.js"></script>
<!--<script src="/js/vendor/parallax.js"></script>-->
<!-- classie.js by @desandro: https://github.com/desandro/classie -->
<script src="/js/vendors/classie.js"></script>
<script src="/js/vendors/modalEffects.js"></script>
<!-- for the blur effect -->
<!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
<script>
  // this is important for IEs
  var polyfilter_scriptpath = '/js/vendors/';
</script>
<script src="/js/vendors/cssParser.js"></script>
<script src="/js/vendors/css-filters-polyfill.js"></script>
<!-- Custom scripts -->
<script type="text/javascript" src="/js/custom.js"></script>
