<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "device-notification.html" . }}
    <div class="perspective effect-rotate-left">
      <div class="container">
        <div class="outer-nav--return"></div>
        <div id="viewport" class="l-viewport">
          <div class="l-wrapper">
            {{ partial "header.html" . }}
            {{ partial "nav.html" . }}
            <ul class="l-main-content main-content">
              {{ partial "intro.html" . }}
              <!-- Selected Work -->
              <li class="l-section section">
                <div class="work">
                  <h2 class="--title">Selected work</h2>
                  <div class="work--lockup">
                    <div class="slick--carousel">
                        {{ range where .Data.Pages "Section" "selected_work" }}
                          {{ .Render "li"}}
                        {{ end }}
                    </div>
                    <div class="modals-container">
                      {{ range where .Data.Pages "Section" "selected_work" }}
                        {{ .Render "modals"}}
                      {{ end }}
                    </div>
                  </div>
                </div>
              </li>

              <li class="l-section section">
                <div class="about">
                  <div class="about--banner">
                    <h2 class="--title">We<br>believe in<br>awesome<br>design</h2>
                      {{ range where .Data.Pages "Section" "carrer" }}
                        {{ .Render "li"}}
                      {{ end }}
                      {{ range where .Data.Pages "Section" "carrer" }}
                        {{ .Render "modals"}}
                      {{ end }}
                    <img src="/img/about-visual.png" alt="About Us">
                  </div>
                  <div class="about--options">
                    {{ range where .Data.Pages "Section" "about_us" }}
                      {{ .Render "li"}}
                    {{ end }}
                    {{ range where .Data.Pages "Section" "what_we_do" }}
                      {{ .Render "li"}}
                    {{ end }}
                    {{ range where .Data.Pages "Section" "about_us" }}
                      {{ .Render "modals"}}
                    {{ end }}
                    {{ range where .Data.Pages "Section" "what_we_do" }}
                      {{ .Render "modals"}}
                    {{ end }}
                  </div>
                </div>
              </li>
              {{ partial "contact.html" . }}
              {{ partial "hire-us.html" . }}
            </ul>
          </div>
        </div>
      </div>
      <div class="md-overlay"></div>
      {{ partial "outer-nav.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
